@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&display=swap');

:root{
  --color-green: #499A18;
  --color-orange: #E06733;
  --color-light-gray: #717171;
  --color-gray: #636060;
  --color-bg-light: #EDF2EC;
  --color-link: #010201;
  --color-default-black: #000000;
  --color-defaul-white: #FFFFFF;
  --color-border-light: #E3E1D5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

button{
  background-color: transparent;
  cursor: pointer;
}

.content{
  max-width: calc(1220px + 50px * 2);
  padding: 0 50px;
  margin: 0 auto;
}

.title{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.button_light{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-orange);
  border: 1px solid #E06733;
  border-radius: 5px;
}

.info{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.header{
  padding: 40px 0;
  background-color: var(--color-bg-light);
}

.header__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  transition: all 0.5s;
}

.logo:hover{
  scale: 1.2;
}

.logo__link{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-default-black);
}

.navigation{
  padding: 17px 0;
  display: flex;
  align-items: center;
  column-gap: 45px;
}

.navigation__link{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-link);
}

.navigation__link:hover{
  font-weight: 700;
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
} 

.welcome{
  padding: 60px 0;
  background-color: var(--color-bg-light);
}

.welcome__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 225px;
}

.welcome__info{
  max-width: 550px;
  row-gap: 45px;
}

.welcome__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: var(--color-light-gray);
}

.welcome__title span{
  color: var(--color-green);
}

.welcome__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: var(--color-gray);
}

.welcome__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-default-black);
  border: 2px solid var(--color-orange);
  border-radius: 10px;
}

.welcome__link:hover{
  color: var(--color-defaul-white);
  background-color: var(--color-orange);
}

.about{
  padding: 90px 0;
}

.about__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
}

.about__info{
  max-width: 605px;
  row-gap: 40px;
}

.about__title{
  max-width: 460px;
  width: 100%;
  color: var(--color-green);
}

.about__title span{
  color: var(--color-orange);
}

.about__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-gray);
}

.service{
  padding: 40px 0 120px;
  background-color: var(--color-bg-light);
}

.service__header{
  display: flex;
  align-items: center;
  column-gap: 140px;
}

.service__title{
  max-width: 305px;
  width: 100%;
  color: var(--color-green);
}

.service__buttons{
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.service__button{
  width: 160px;
  height: 50px;
}

.service__cards{
  margin-top: 90px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 110px;
  row-gap: 55px;
}

.service-card{
  padding: 0 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border: 1px solid var(--color-border-light);
  border-radius: 20px;
  overflow: hidden;
}

.service-card__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-orange);
}

.service-card__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light-gray);
}

.prices{
  padding: 40px 0 115px;
}

.prices__content{
  display: flex;
  justify-content: space-between;
}

.prices__left{
  max-width: 330px;
  width: 100%;
  row-gap: 60px;
}

.prices__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--color-default-black);
}

.prices__items{
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  border: 1px solid var(--color-border-light);
  border-radius: 20px;
}

.prices__item{
  width: 100%;
  padding: 17px 40px;
  background-color: var(--color-bg-light);
  border-radius: 20px;
}

.prices__item button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-default-black);
  border: none;
}

.prices__item span{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
  background-image: url(../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.prices__right{
  max-width: 455px;
  width: 100%;
  align-items: flex-end;
  row-gap: 40px;
}

.prices__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: var(--color-default-black);
}

.prices__subtitle span{
  color: var(--color-green);
}

.prices__link{
  width: 160px;
  height: 50px;
  font-weight: 700;
}

.prices__link:hover{
  background-color: var(--color-orange);
  color: var(--color-defaul-white);
}